footer {
    ul {
        display: flex;
        list-style: none;
        gap: 10px;

        li {
            a {
                color: black;

                &:hover {
                    color: aquamarine;
                }
            }
        }
    }
}